<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Render Functions</title>
    <script src="../vue/vue.js"></script>
</head>
<body>
<div id="app-1">
    <anchored-heading-one :level="1">Hello world!</anchored-heading-one>
</div>
<div id="app-2">
    <anchored-heading-two :level="2">Hello world!</anchored-heading-two>
</div>
<div id="app-3">
    <anchored-heading-three :level="3"><p>Hello world!</p></anchored-heading-three>
</div>
<div id="app-4">
    <anchored-heading-four></anchored-heading-four>
</div>
<div id="app-5">
    <anchored-heading-five></anchored-heading-five>
</div>
<div id="app-6">
    <anchored-heading-six>Hello World!</anchored-heading-six>
</div>
<div id="app-7">
    <anchored-heading-seven>
        <template scope="props">
            <span>{{props.text}}</span>
        </template>
    </anchored-heading-seven>
</div>
<script type="text/x-template" id="anchored-heading-template">
    <div>
        <h1 v-if="level === 1">
            <slot></slot>
        </h1>
        <h2 v-if="level === 2">
            <slot></slot>
        </h2>
        <h3 v-if="level === 3">
            <slot></slot>
        </h3>
        <h4 v-if="level === 4">
            <slot></slot>
        </h4>
        <h5 v-if="level === 5">
            <slot></slot>
        </h5>
        <h6 v-if="level === 6">
            <slot></slot>
        </h6>
    </div>
</script>
<script src="render-functions.js"></script>
</body>
</html>