<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Components</title>
    <script src="../vue/vue.js"></script>
</head>
<body>
<div id="app-1">
    <my-component></my-component>
</div>
<div id="app-2">
    <my-component></my-component>
</div>
<div id="app-3">
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
</div>
<div id="app-4">
    <child message="hello!"></child>
</div>
<div id="app-5">
    <div>
    <input v-model="parentMsg">
    <br>
    <child v-bind:my-message="parentMsg"></child>
    </div>
</div>
<div id="app-6">
    <p>{{ total }}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
</div>
<script src="components.js"></script>
</body>
</html>